<div class="containerScrollOba">
    <ul>
        <li>Check PC Doctor log file</li>
        <li>Verify that all necessary accessories have been included</li>
    </ul>

    <h3>Visual Mechanical Inspection (VMI)</h3>
    <ul>
        <li>Gaps/ broken and loose hinges</li>
        <li>ports - damage and corrosion</li>
        <li>cosmetic damage</li>
        <li>battery latching</li>
        <li>dirt</li>
        <li>screen latching</li>
        <li>missing screws</li>
        <li>gently shake to check for loose objects</li>
        <li>feet and LCD bumpers</li>
        <li>if unit has screw-less case, perform VMI of insides</li>
    </ul>

    <h3>Basic functional tests</h3>
    <ul>
        <li>Confirm the Service tag label on the unit matches the label on the box.</li>
        <li>Verify the customer letter appearance before packout. Check that its not fading or having low resolution print.</li>
        <li>Review Dell Depot Repair Summary report for completeness and legibility</li>
        <li>Use customer-supplied accessories</li>
        <li>Power on and login into Windows, verify version with COA label and Windows is activated</li>
        <li>Eject CD/DVD drive to verify it’s empty</li>
        <li>Open Device Manager and inspect for device drivers issues</li>
        <li>Unplug and plug the AC adapter, verify that Windows recognizes AC wattage</li>
        <li>Plug in test mouse into each USB port to verify their operation.</li>
        <li>Test multimedia (speakers and built-in microphone), use headset to test jacks</li>
        <li>Test webcam</li>
        <li>Validate ECN has been applied</li>
        <li>Validate HDD Firmware has been applied</li>
        <li>Test wireless by connecting to Dell Support Website (www.dell.ca/support)</li>
        <li>Full system shutdown</li>
        <li>Delete any User account that is created by Depot service</li>
        <li>
            Verify effectiveness of all fixes applied to resolve problems reported by the end-user. Verify Cx Issue has been resolved. 
        <br>&nbsp;&nbsp;&nbsp;Check the item history to make sure all the necessary parts were replaced.
        <br>&nbsp;&nbsp;&nbsp;Verify that correct customer
            HDD has been reinstalled into the unit (if applicable)
        </li>
        <li>Inspect packaging for appearance and adequate shock protection</li>
        <li>Verify that correct waybill label has been applied</li>
    </ul>

    <h3>PASSED AUDITS</h3>
    <ul>
        <li>Time out using PASS result code; OBA Audit Pass</li>
        <li>Time out using FAILQA result code notes in FA OBA Audit Fail</li>
    </ul>

    <h3>FAILED AUDITS</h3>
    <ul>
        <li>Return to packing / shipping</li>
        <li>Send to L2 debug technician</li>
    </ul>
</div>
