.table-heading {
  .row {
    background-color: rgba(70, 76, 89, 1);
    color: #FFFFFF;
    font-weight: 500;
    width: 100%;
    height: 40px;

    div {
      margin-top: 10px;
    }
  }
}

.table-body {
  .row {
    width: 100%;
  }
}

.add-item-text {
  margin-bottom: 15px;
  label{
    padding-top: 6px;
    font-weight: 500;
    font-family: bold;
    font-size: 14px;
    width: 123px;
  }

  input{
    width: 300px;
    height: 37px;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: none;
  }
}

.textAndDDHW{
  height: 35px;
  width: 100%;
}

.batch-footer-block{
  width: 100% !important;
  padding-top: 10px;
  position: relative;
  top: 15px;
}

.headerColumn {
  font-size: 7px;
}

.removeHeaderColumn {
  font-size: 14px;
}

.headerColumn1 {
  padding-top: 10px;
}

.removeHeaderColumn1 {
  padding-top: 10px;
}

.headerColumn2 {
  padding-top: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.removeUnitControls {
  white-space: nowrap;
  position: relative;
  width: 70px;
  height: 40px;
  padding: 4px;
  border-right: 1px solid #ababab;
  font-size: 14px;
  text-align: center;
}

.applyUnitControls {
  white-space: nowrap !important;
  position: relative !important;
  width: 40px !important;
  height: 40px !important;
  padding: 4px 0 !important;
  border-right: 1px solid #ababab !important;
  font-size: 9px !important;
  text-align: center;
  
}

.batch-css{
  .modal-header{
    height: 65px;
  }
}

::ng-deep .takeover-header {
  background-color: #ddd !important;
}

.pl-0, .px-0 {
  padding-left: 10px !important;
}

.p2-0 {
  padding-left: 20px !important;
}