<div [formGroup]="group">
  <span *ngIf="labelIcon" [innerHtml]="labelIcon"></span>
  <label [for]="name" [style]="labelstyles" [class]="labelPosition">{{label}}</label>
  <mat-form-field appearance="outline" [style]="inputStyles">
    <input matInput [formControlName]="name" [placeholder]="placeholder | translate" [type]="revealpassword ? 'password' : 'text'"
      [id]="name" [value]="value | translate" [name]="name" [readonly]="readonly" [required]="required" [matTooltip]="tooltip" [matTooltipPosition]="TooltipPosition"
      (focus)="onlocalfocus($event)" (onchange)="onlocalChange($event)" (keyup)="onKeyup($event)" (blur)="onlocalBlur($event)"
      (onfocusout)="onlocalFocusOut($event)">
   <div type="button" mat-icon-button matSuffix (click)="revealPasswordClick($event)"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="revealpassword">
      <mat-icon>{{revealpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </div>
  </mat-form-field>
</div>
