<div class="accordioStyles">
  <mat-accordion [togglePosition]="'before'">
    <mat-expansion-panel #matPanel [id]="uuid"  [hidden]="hidden" [disabled]="isEditable ? false: disabled"
    [expanded]="expanded" [hideToggle]="hideToggle" [togglePosition]="togglePosition" class="task-panel-container"
    [class]="panelClass" [ngStyle]="{ 'background': disabled ? '#f3f6f9' : '#fff'}"
    [ngClass]="{'blue-border-left': matPanel.expanded && isblueBorder, 'yellow-border-left': matPanel.expanded && isyellowBorder}">
    <mat-expansion-panel-header  [class]="taskPanelHeaderClass" [collapsedHeight]="collapsedHeight" [expandedHeight]="expandedHeight"
   >
   <!-- [class]="taskPanelHeaderClass" -->
      <mat-panel-title [style]="header.css" [class]="header.class" class="subtitle1">
        <div [class]="header.mainTitleClass" [innerHtml]="header.mainTitle">
        </div>
        <!-- <mat-icon [svgIcon]="header.svgIcon" [class]="header.iconClass">{{header.icon}}</mat-icon> -->
        <div *ngIf="columnWiseTitle === undefined; else elseBlock" [innerHtml]="header.title">
        </div>
        <ng-template #elseBlock>
          <app-split-header class="display-flex-center" [inputClasses]="inputClasses"
            [headerTitleLabels]="headerTitleLabels" [headerTitleValues]="headerTitleValues"
            [headerClasses]="headerClasses" [isReworkClass]= "isReworkClass" [reworkClass]= "reworkClass"></app-split-header>
        </ng-template>
  
      </mat-panel-title>
      <mat-panel-description [class]="header.headerStatusClass" (click)="header.statusIcon==='delete_outline'?dele($event):''">
        {{header.status | translate}}
        <button mat-flat-button [disabled]='disableBulkDelete' (click)=delete($event)>
          <mat-icon [style]="header.statusCss" [class]="header.statusClass">
            {{header.statusIcon}}</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- expansionpanel content -->
    <form [formGroup]="uuid" [style]="bodyCss" [class]="bodyClass">
      <!-- <div [class]="disabled ? 'disabledTrue':'disabledFalse'" ></div>
      <div [ngClass]="{'topView': verticalsplitView}">
          <ng-container #expansionPanelContentTopHalf></ng-container>
        </div> -->
      <div>
        <div [ngClass]="{'taskpanel-row': splitView}">
          <div [ngClass]="{'taskpanel-column': splitView}">
            <div [ngClass]="{'leftside': splitView}">
              <ng-container #expansionpanelcontent></ng-container>
            </div>
          </div>
          <!-- <div [ngClass]="{'taskpanel-column': splitView}">
            <div [ngClass]="{'rightside': splitView}">
              <ng-container #expansionPanelContentFirstHalf></ng-container>
              <div [class]="contentSecondHalfClass">
                <ng-container #expansionPanelContentSecondHalf></ng-container>
              </div>
            </div>
          </div> -->
        </div>
      
      <!-- </ng-template> -->
    </div>
    </form>
    <mat-action-row [ngClass]="{'mat-action-row-no-border': !splitView ,'mat-action-space-between' : spaceView}">
      <ng-container #expansionpanelfooter></ng-container>
    </mat-action-row>
  </mat-expansion-panel>
  <!-- Child Taskpanles inside predictive taskpanel -->
  <ng-container #expansionPanelContenttaskpanel></ng-container>

    <!-- <app-task-panel [header]="header" [hideToggle]="false" [class]="spacing-class" [togglePosition]=""></app-task-panel> -->
    
    <mat-expansion-panel [hidden]="Togglehidden" [expanded]="toggleExpanded" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
      </mat-expansion-panel-header>
      <ng-container #expansionPanelContenttoolbar></ng-container>

      <!-- <app-toolbar [items]="toolBarItems" [togglePosition]="predictiveClass"></app-toolbar> -->
    </mat-expansion-panel>

  </mat-accordion>
</div>