<div class="containerScrollValidation">    
    <h3>Visual Mechanical Inspection (VMI)</h3>
    <ul>
        <li>Gaps/ broken and loose hinges</li>
        <li>ports - damage and corrosion</li>
        <li>cosmetic damage</li>
        <li>battery latching</li>
        <li>dirt</li>
        <li>screen latching</li>
        <li>missing screws</li>
        <li>gently shake to check for loose objects</li>
        <li>feet and LCD bumpers</li>
        <li>if unit has screw-less case, perform VMI of insides</li>
        <li>Clean Unit with Tech Spray</li>
    </ul>
</div>
