.custButStyle {
    padding: 8px;
    border:  1px solid rgba(255, 206, 75, 0.2980392156862745);
    background: rgba(255, 206, 75, 0.2980392157);
    color: #0180E5;
    float: right;
    margin: 20px 10px 20px;
}
.custButStyle:hover {
    background: transparent;
    border: 1px solid #0180E5;
}
.iconStyle{
    color: black;
    font-size: 20px;
}