.margin-left{
    margin-left: 80px !important;
}
.margin-right{
    margin-left: 80px !important;
}
.btn-spacing{
    margin-right: 5px;
    margin-bottom: 5px !important;
}
.btn-normal-font{
    font-size: normal !important;
}
.videoStyles{
    /* margin-left: 73%; 
     */
    position: absolute;
    right: 10%;
    top: -8px;
    /* z-index: 999; */
}
/* .ng-star-inserted{
margin-left: 74%;
} */
.btn-danger{
    color: black !important;
    background-color: #b4d4a7 !important;
    border-color:black !important;
    box-shadow: none !important;
}
.btn-primary{
    background-color: #a0c5f8 !important;
    border-color:black !important;
    color: black !important;
}
.btn{
    /* background-color: #a0c5f8 !important; */
    border-color:black !important;
    border-radius: 5px;
    color: black !important;
}
/* .btn:hover{
    border-color:none !important;
    border-radius: 5px;
} */
.close-button{
    float: right;
    top: -20px;
    right: -24px;
    border: 0px;
    background: transparent;
    position: relative;
}